<div class="card mb-3">
  <div class="item">
    <div class="img rounded justify-content-center" *ngIf="promotion.imageUrl">
      <img src="{{promotion.imageUrl}}" class="m-4" style="width: 15rem; height: 15rem;">
    </div>
    <div class="summary flex-fill">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><h5 class="card-title">{{ promotion.title }}</h5></li>
        <li class="list-group-item card-title" *ngIf="promotion.actionUrl.length > 0">See promo:   <a href="promotion.actionUrl">{{ promotion.actionUrl }}</a> </li>
        <li class="list-group-item card-title">Last until: {{ promotion.expiryDate | date }} at {{ promotion.expiryDate | date:'h:mm' }} </li>
        <li class="list-group-item card-title">Message: {{promotion.message}}</li> 
      </ul>
    </div>
  </div>
  <div class="text-center">
        <!-- <input type="submit" value="Delete" class="btn btn-primary btn-rounded mb-4" data-toggle="modal" data-target="#stock"  > -->
        <input type="submit" value="Delete" class="btn btn-primary btn-rounded mb-4" (click)="deletePromotion( promotion.id)"  >
        
    </div>
</div>



<div class="modal fade rounded" id="stock" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 75vh; height: 50vh;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">You are about to delete a promotion.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
        
          <div class="modal-body">
            
              <label for="name" class="col-form-label">Click delete button to confirm deletion</label>
    
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-rounded mb-4" style="width: 40%;" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary btn-rounded mb-4" style="width: 40%;" (click)="deletePromotion( promotion.id)" >Delete</button>
          </div>          
    </div>
  </div>
</div>
</div>