<div class="card mb-3">
  <div class="item">
    <div class="img" *ngIf="imageUrl">
      <img src="{{imageUrl}}" class="m-4 rounded" style="width: 15rem; height: 15rem;">
    </div>
    <div class="summary flex-fill">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><h5 class="card-title">{{ stock.name }}</h5></li>
        <li class="list-group-item card-title">Description:{{ stock.description }}</li>
        <li class="list-group-item card-title">Price:{{ stock.price| currency:'R ' }}</li>
        <li class="list-group-item card-title">Quantity:{{ stock.quantity }}</li>
        <li class="list-group-item card-title" *ngIf=" stock.discountPerc > 0">Discount %:{{ stock.discountPerc }}</li>
        <li class="list-group-item card-title">
          <button class="btn btn-primary mb-3" (click)="isClicked()" style="width: 200px;">View details</button> &nbsp;
        </li>
      </ul>
    </div>
  </div>
</div>