@media(min-width: 768px){
    .item{
        display: flex;
        flex-direction: row;
    }
    
    .img {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    
    .summary {
        display: flex;
        flex-direction: column;
    }

    .description { 
        width: 768px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }   
}
