  <div class="card mb-3">
    <div class="row no-gutters justify-content-around">
      <div class="col-md-4">
        <img src="{{imageUrl}}" class="px-3 shadow-lg p-3 mb-5 bg-white rounded" style="width: 250px; height: 250px;" alt="Stock Item Image">
      </div>
      <div class="col-md-8">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><h5 class="card-title">{{ stock.name }}</h5></li>
          <li class="list-group-item card-title">Description:{{ stock.description }}</li>
          <li class="list-group-item card-title">Price:{{ stock.price| currency:'R ' }}</li>
          <li class="list-group-item card-title">Quantity:{{ stock.quantity }}</li>
          <li class="list-group-item card-title" *ngIf=" stock.discountPerc > 0">Discount %:{{ stock.discountPerc }}</li>
        </ul>
        <p class="card-text"><small class="text-muted"><button class="btn btn-primary mb-3" (click)="isClicked()" style="width: 200px;">View details</button></small></p>
      </div>
    </div>
  </div>

