<div class="row no-gutters justify-content-around">
    <div class="col-md-4">
      <img src="{{(store |async)?.imageUrl}}" class="px-3 shadow-lg p-3 mb-5 bg-white rounded" style="width: 250px; height: 250px;" alt="Stock Item Image">
    </div>
    <div class="col-md-8">
      <div class="class-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><h5 class="card-title">{{(store |async)?.name}}</h5></li>
            <li class="list-group-item card-text">Description:{{ (store |async)?.description }}</li>
            <li class="list-group-item card-text">Owner id : {{ (store |async)?.ownerId }}</li>
            <li class="list-group-item card-text">Address : {{ (store |async)?.address }}</li>
            <li class="list-group-item card-text">Phone #:{{ (store |async)?.mobileNumber }}</li>
            <li class="list-group-item card-text">Email address: {{ (store |async)?.emailAddress }}</li>
            <li class="list-group-item card-text">Registration # : {{ (store |async)?.regNumber }}</li>
            <div *ngIf=" (store |async)?.tags.length > 0;">
              <table class="table table-sm rounded">
                  <thead class="thead-light">
                  <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let value of (store |async)?.tags; index as i">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>{{ value }}</td>
                  </tr>
                  </tbody>
              </table>
          </div>
        </ul>
        <!-- <input type="submit" value="Edit" class="btn btn-default btn-rounded mb-4" [routerLink]='form/store-info'> -->
    </div>
    </div>
  </div>
  <div class="text-center">
    <a [routerLink]="'/form/store-info'" [queryParams]="{id: (store |async)?.id}" 
                                        queryParamsHandling :null>
    <button class="btn btn-primary btn-rounded mb-4" style="width: 200px;"> Edit info </button>
    </a>
  </div>