<div class="d-flex justify-content-center mb-5">
    <div class="h5 header">Period of {{period}} months</div>
</div>
<div class="row" *ngIf="isMapChanged">
    <div class="col">
        <table class="table table-light" matSort (matSortChange)="sortCustomers($event)">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" mat-sort-header="customer">Customer</th>
                    <th scope="col" mat-sort-header="phone">Phone</th>
                    <th scope="col" mat-sort-header="orders">No. of Orders</th>
                    <th scope="col" mat-sort-header="spent">Total Spent</th>
                </tr>
            </thead>
            <tr *ngFor="let customer of customerRanking | keyvalue">
                <td>{{getUser(customer.key)?.name}}</td>
                <td>{{getUser(customer.key)?.mobileNumber}}</td>
                <td>{{customer.value.orders}}</td>
                <td>{{customer.value.totalAmount | currency:'R'}}</td>
            </tr>
        </table>
    </div>
    <div class="col">
        <table class="table table-light" matSort (matSortChange)="sortCustomers($event)">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" mat-sort-header="customer">Category</th>
                    <th scope="col" mat-sort-header="phone">Amount</th>
                </tr>
            </thead>
            <tr>
                <td>Sales</td>
                <td>{{totalSales | currency:'R'}}</td>
            </tr>
            <tr>
                <td>Shop Costs</td>
                <td>({{shopCosts | currency:'R'}})</td>
            </tr>
            <tr>
                <td>Driver Costs</td>
                <td>({{driverCosts | currency:'R'}})</td>
            </tr>
            <tr>
                <td>Transaction Fee</td>
                <td>({{transactionFee | currency:'R'}})</td>
            </tr>
            <tr>
                <td>Profit</td>
                <td>{{profit | currency:'R'}}</td>
            </tr>
        </table>
    </div>
    <div class="col">

    </div>
</div>

<table class="table table-light" matSort (matSortChange)="sortData($event)">
    <thead class="thead-dark">
        <tr>
            <th scope="col" mat-sort-header="shopId">Shop Name</th>
            <th scope="col" mat-sort-header="customerId">Customer Name</th>
            <th scope="col" mat-sort-header="totalAmount">Total Amount</th>
            <th scope="col" mat-sort-header="shippingFee">Delivery</th>
            <th scope="col" mat-sort-header="driver">Driver</th>
        </tr>
    </thead>

    <tr *ngFor="let order of sortedData">
        <td>{{getShop(order.shopId)?.name}}</td>
        <td>{{getUser(order.customerId)?.name}}</td>
        <td>{{order.totalAmount | currency:'R'}}</td>
        <td>{{order.shippingData.fee | currency:'R'}}</td>
        <td>{{order.shippingData.messengerId}}</td>
    </tr>
</table>