<ul class="list-group list-group-flush">
    <li class="list-group-item"><h4 class="card-title">{{ stock.name }}</h4></li>
    <li class="list-group-item">Description:{{ stock.description }}</li>
    <li class="list-group-item">Price:{{ stock.price| currency:'R ' }}</li>
    <li class="list-group-item">Quantity:{{ stock.quantity }}</li>
    <li class="list-group-item" *ngIf="stock.discountPerc > 0">Discount %:{{ stock.discountPerc }}</li>
    <div *ngIf="selectionOptions.length > 0">
        <div *ngFor="let selection of selectionOptions; index as i">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-{{i}}" aria-expanded="false" aria-controls="collapseOne">
                        {{ selection.name}}
                    </a>
                  </h4>
                  </div>
                  <div id="collapseOne-{{i}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <li class="list-group-item card-text" *ngIf="selection.price > 0">Price:{{ selection.price| currency:'R ' }}</li>
                        <li class="list-group-item card-text">Selected:{{ selection.selected }}</li>
                        <div *ngIf=" selection.values.length > 0;">
                            <table class="table table-sm rounded">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let value of selection.values; index as i">
                                        <th scope="row">{{ i + 1 }}</th>
                                        <td>{{ value }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</ul>