<h4 class="mt-5 mb-5">Period</h4>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3" [checked]="days === 31" [value]="31" [(ngModel)]="days" (change)="onDayChange()"> 1 Month
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option4" [checked]="days === 91" [value]="91" [(ngModel)]="days" (change)="onDayChange()"> 3 Months
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option5" [checked]="days === 183" [value]="183" [(ngModel)]="days" (change)="onDayChange()"> 6 Months
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option6" [checked]="days === 365" [value]="365" [(ngModel)]="days" (change)="onDayChange()"> 12 Months
  </label>
</div>

    <!-- Use Angular's keyvalue pipe to iterate over the groups -->
    <div *ngFor="let group of shopGroupedPayouts | keyvalue" class="my-5">
      <h4 class="my-3">{{ group.key }}</h4>
      <div class="mb-1">Pending Payout: {{payoutTotal(group.value) | currency:'R'}}</div>
      <div class="mb-1">Number of Payouts: {{group.value.length}}</div>
      <div class="mb-1">
        <a *ngIf="group.key == 'PENDING'" [href]="shopCsvFileUrl" class="mr-1" target="_blank">
            <span class="btn btn-default btn-rounded">Download Payment File</span>
        </a>
        <button *ngIf="group.key == 'PROCESSING'" (click)="markAllPayments(group.value)" class="btn btn-default btn-rounded mr-1">Mark All Paid</button>
        <button *ngIf="group.key == 'PROCESSING'" (click)="updateShopPayouts(group.value)" class="btn btn-default btn-rounded">Submit Results</button>
      </div>
      <div class="list-group mt-3">
        <a *ngFor="let payout of group.value" class="list-group-item list-group-item-action">
          <div class="d-flex justify-content-between">
            <h5 class="mb-1">{{ payout.toName }}</h5>
            <div>
                <div>{{ payout.total | currency:'R' }}</div>
                <div *ngIf="group.key == 'PROCESSING'">
                  <input class="form-check-input" [checked]="payout.paid" type="checkbox" (change)="payout.paid = !payout.paid" [id]="payout.id"><label [for]="payout.id">Paid</label>  
                </div>  
            </div>
          </div>
          <div class="mb-1">Payout ID: {{ payout.id }}</div>
          <div *ngIf="group.key == 'COMPLETED'" class="mb-1">Date Paid: {{ payout.modifiedDate | date: 'yyyy-MM-dd' }}</div>
        </a>
      </div>
    </div>
  