<div class="pt-5 px-3 shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center">
    <h3><b>{{storeName}}</b></h3>
</div>
<ul class="nav mb-3">
  <li class="nav-item"><a type="button" class="nav-link" (click)="back()"><i class="fa fa-arrow-left"></i> Back</a></li>
  <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Delete a store"><a type="button" class="nav-link danger" data-toggle="modal" data-target="#exampleModal"  ><i class="fa fa-trash"></i> Delete store</a></li>
</ul>
<ul class="nav nav-tabs mb-3">
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['info']" >Store information</a></li>
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['hours']"   >Operating hours</a></li>
    <li class="nav-item"><a class="nav-link " routerLinkActive="active" [routerLink]="['stocks']" >Inventory</a></li>
    <li class="nav-item"><a class="nav-link " routerLinkActive="active" [routerLink]="['promotions']" >Promotion</a></li>
</ul>
<router-outlet></router-outlet>
</div>


<!-- Modal -->
<div class="modal fade rounded" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">You are about to delete <i style="color: red;;">{{storeName}}</i> store.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
        
          <div class="modal-body">
            
              <label for="name" class="col-form-label">Click delete button to confirm deletion</label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button> &nbsp;
            <button type="submit" class="btn btn-primary"  (click)="deleteStore()" >Delete</button>
          
          </div>
        
          
    
  </div>
</div>





