<div class="d-flex justify-content-center">

    <div class="h5 header mb-5">Menu</div>
</div>
<div>    
    
<div class="row">
    <a class="col-12 m-1 d-flex justify-content-center" (click)=goToStores() >
        <div class="card d-flex justify-content-center">
        <div class="text-center">
            Stores
        </div>
        </div>
    </a>
    <a class="col-12 m-1 d-flex justify-content-center" (click)=goToOrders()>
        <div class="card d-flex justify-content-center">
        <div class="text-center">
            Orders
        </div>
        </div>
    </a>
    <a class="col-12 m-1 d-flex justify-content-center" (click)=goToRecon()>
        <div class="card d-flex justify-content-center">
        <div class="text-center">
            Reconciliation
        </div>
        </div>
    </a>
</div>
