<form FormGroup='storeProfileRegistrationForm' (onSubmit)="onSubmit()">
  <!--    
    <div class="row">
      <div class="text-center"><h1> {{ storeInfo.name }}</h1></div>
      <div class="text-center"> 
        <img src="{{storeInfo.imageUrl}}" class="rounded-circle float-left img-fluid col-ms-4" width="200" height="200">
      </div> 
   </div>
  -->
  <div class="row">
    <div class="text-center">
      <h1>The Information of the store</h1>
    </div>
  </div>
  <div class="row">

    <div class="container-fluid col-md-5 info">
      <div class="text-center">
        <pre><b><h2>The store information</h2></b></pre>
      </div>
      <img src="{{storeInfo.imageUrl}}" class="img-fluid rounded mx-auto d-block" alt="Responsive image"><br>
      <h6><b>Store name</b></h6>
      <h6>{{ storeInfo.name }}</h6><br>
      <h6><b>Registration number</b></h6>
      <h6>{{ storeInfo.regNumber }}</h6><br>
      <h6><b>Address</b></h6>
      <h6>{{ storeInfo.address }}</h6> <br>
      <h6><b>Phone contact</b></h6>
      <h6>{{ storeInfo.mobileNumber }}</h6> <br>
      <h6><b>Email address</b></h6>
      <h6>{{ storeInfo.emailAddress }}</h6><br>
      <h6><b>Description</b></h6>
      <h6>{{ storeInfo.description }}</h6><br>
      <h6><b>Tags</b></h6>
      <div *ngFor="let tag of tags; index as i">
        <h5>{{i + 1 }}. {{ tag }}</h5>
      </div>
      <div class="text-right">
        <button class="btn btn-default btn-rounded mb-4" (click)="editStoreInfOnClick();">Edit</button>
      </div>
    </div>
    <div class="container-fluid col-md-5 info">
      <div class="text-center">
        <pre><b><h2>Operating hours</h2></b></pre>
      </div>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Day</th>
            <th scope="col">Open</th>
            <th scope="col">Close</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let day of businessHours; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ day.day }}</td>
            <td>{{ day.open | date:'shortTime'}}</td>
            <td>{{ day.close | date:'shortTime'}}</td>
            <td><div class="text-center">
              <input type="submit" value="Edit" class="btn btn-info btn-block rounded-0 py-2" (click)="btnClick(day);">
          </div></td>
          </tr>
        </tbody>
      </table>
      <!--     
        <div class="text-right">
        <button class="btn btn-default btn-rounded mb-4" (click)="editOpHoursOnClick();">Edit</button>
      </div>
      -->
    </div>

    <!--    
  <div class="container info col-md-6">


    <div class="text-center">
      <pre><b><h2>Bank Information</h2></b></pre>
    </div>
  
  <h5><b>Bank name:</b> {{ bank.name }}</h5> <br>
  <h5><b>Account number:</b> {{ bank.accountId }}</h5> <br>
  <h5><b>Phone contact:</b> {{ bank.phone }}</h5> <br>
  <h5><b>Account type:</b> {{ bank.type }}</h5> <br>
  <div class="text-right">
    <button class="btn btn-default btn-rounded mb-4" (click)="editBankInfoOnClick();">Edit Store Information</button>
  </div>




  </div>



  -->
  </div>
  <div class="container-fluid col-ms-12 info">
    <button class="btn btn-default btn-rounded mb-4" (click)="backClick();">View Stocks</button>
  </div>
  <div class="text-center">
    <button class="btn btn-default btn-rounded mb-4" (click)="onSubmit();">Submit</button>
  </div>
</form>
