<form FormGroup='storeProfileRegistrationForm' (onSubmit)="onSubmit()"  class="pt-5 px-3 shadow-lg p-3 mb-5 bg-white rounded">
  <!-- <div class="accordion" id="myAccordion"> -->
    <h2 class="mb-0">
                <a data-toggle="collapse" data-target="#collapseOne"><div class="text-center">
                  <b><h3>The store information</h3></b>
                </div></a>
            </h2>
            <hr>
        <!-- <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#myAccordion">
            -->
          <div class="card">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{{storeInfo.imageUrl}}" class="px-3 shadow-sm p-3 mb-5 bg-white rounded" style="width: 250px; height: 250px;" alt="Stock Item Image">
              </div>
              <div class="col-md-8">
                <div class="class-body">
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item"><h5 class="card-title">{{storeInfo.name}}</h5></li>
                      <li class="list-group-item card-text">Description:{{ storeInfo.description }}</li>
                      <li class="list-group-item card-text">Owner id : {{ storeInfo.userId }}</li>
                      <li class="list-group-item card-text">Address : {{ storeInfo.address }}</li>
                      <li class="list-group-item card-text">Phone #:{{ storeInfo.mobileNumber }}</li>
                      <li class="list-group-item card-text">Email address: {{ storeInfo.emailAddress }}</li>
                      <li class="list-group-item card-text">Registration # : {{ storeInfo.regNumber }}</li>
                      <div *ngIf=" storeInfo.tags.length > 0;">
                        <table class="table table-sm rounded">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let value of storeInfo.tags; index as i">
                                <th scope="row">{{ i + 1 }}</th>
                                <td>{{ value }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                  </ul>
              </div>
              </div>
            </div>
          </div>
        <!-- </div> -->
        <!-- <h2 class="mb-0">
                <a data-toggle="collapse" data-target="#collapseTwo"><div class="text-center">
                  <b><h3>Operating hours</h3></b>
                </div></a>
            </h2>
            <hr>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#myAccordion">
            <div class="card-body">

              <div *ngIf="businessHours.length > 0; else elseBlock">
                <table class="table table-sm rounded">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Day</th>
                      <th scope="col">Open</th>
                      <th scope="col">Close</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let day of businessHours; index as i">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>{{ day.day }}</td>  
                      <td>{{ day.open | date:'shortTime'}}</td>
                      <td>{{ day.close | date:'shortTime'}}</td>
                    </tr>
                  </tbody>
                </table>
           
            </div>
            <ng-template #elseBlock>

                <div *ngIf="status; else elseBlock">
                  <app-detail [stock]="stock"  (hideDetailEventEmitter)="hideDetail($event)"></app-detail>
              </div>
              <ng-template #elseBlock>
                  <div class="card-deck d-flex">
                      <app-item *ngFor="let stock of stockList" [stock]="stock"   (clickedEventEmitter)="isClicked($event)"></app-item>
                  </div> 
              </ng-template>


                
            </ng-template>

                
              </div>
        </div>

         <h2 class="mb-0">
                <a data-toggle="collapse" data-target="#collapseThree"><div class="text-center">
                  <b><h3>Stock information</h3></b>
                </div></a>
            </h2>
        <hr>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#myAccordion">
            <div class="card-body">
              <div *ngIf="status; else elseBlock">
                <app-detail [stock]="stock"  (hideDetailEventEmitter)="hideDetail($event)"></app-detail>
            </div>
            <ng-template #elseBlock>
                <div class="card-deck d-flex">
                    <app-item *ngFor="let stock of stockList" [stock]="stock"   (clickedEventEmitter)="isClicked($event)"></app-item>
                </div> 
            </ng-template>
            </div>
        </div> -->
<!-- </div> -->

  <br>
  
  <div class="text-center">
    <input type="submit" value="Submit" class="btn btn-info btn-block rounded-0 py-2" (click)="onSubmit();">
  </div>
</form>
