
    <!--     
      class="pt-5 px-3 shadow-lg p-3 mb-5 bg-white rounded"
    -->
    <form [formGroup]="storeInfoForm"  class="pt-5 px-3 shadow-lg p-3 mb-5 bg-white rounded">
      <div class="text-center">
        <h2><b>Store Information</b></h2>
      </div>
    
      <div class="container">
        <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Store Name</label>
        <div class="col-sm-10">
          <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" > 
        </div>
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Store Name is required</div>
      </div>
      </div>
      
      <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">User ID</label>                                                                                                                                                                                             
        <div class="col-sm-10">
          <input type="text" formControlName="userId" class="form-control" > 
        </div>
      </div>
      
      <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
            <input type="text" formControlName="address" class="form-control" > 
        </div>
      </div>

      <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Phone Number</label>                                                                                                                                                                                             
        <div class="col-sm-10">
          <input type="text" formControlName="mobileNumber" class="form-control" > 
        </div>
      </div>
      <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Email Address</label>                                                                                                                                                                                             
        <div class="col-sm-10">
          <input type="text" formControlName="emailAddress" class="form-control" > 
        </div>
      </div>

      <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Registration Number</label>                                                                                                                                                                                             
        <div class="col-sm-10">
          <input type="text" formControlName="regNumber" class="form-control" > 
        </div>
      </div>

      <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Description</label>                                                                                                                                                                                             
        <div class="col-sm-10">
          <input type="text" formControlName="description" class="form-control" > 
        </div>
      </div>
      <hr>
      <button class="btn btn-primary btn-rounded mb-4" (click)="addTag()">Add Tag</button>
      <div class="form-group raw tag" formArrayName="tags" *ngIf="getTags?.length > 0">
        <div
          class="tags"
          *ngFor="
            let tag of getTags.controls;
            let tagIndex = index;
            let first = first;"
          [formGroupName]="tagIndex"
        >
        <div class="form-group row">
              <label for="colFormLabel" class="col-sm-2 col-form-label">Tag {{tagIndex + 1}}</label>
              <div class="col-sm-8">
                <input type="text" [formControl]="getTags.controls[tagIndex]" class="form-control"> 
              </div>
              <div class="col-sm-2">
                <button class="btn btn-primary btn-rounded mb-4"  (click)="deleteTag(tagIndex)">Delete</button>                
              </div>
        </div>
      </div>
      </div>
      <hr>
      <div class="container text-center">
          <input type="file" (change)="onChange($event)">
      </div>
      <br>
    </div>
    <div class="text-center">
      <button class="btn btn-primary btn-rounded mb-4" (click)="btnClick();">Next</button>
    </div>  
  </form>

