  {{ stockForm.value | json }}
  <form [formGroup]="stockForm" (ngSubmit)="onSubmit()" >
        <div class="container stock" >
          <div class="text-center">
            <h2><b>Stock Taking</b></h2>
          </div>
            <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" formControlName="name" class="form-control" > 
            </div>
          </div>
        
          <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Price</label>                                                                                                                                                                                             
            <div class="col-sm-10">
              <input type="number" formControlName="price" class="form-control" > 
            </div>
          </div>
    
          <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Discount %</label>                                                                                                                                                                                             
            <div class="col-sm-10">
              <input type="number" formControlName="discountPerc" class="form-control" > 
            </div>
          </div>
    
          <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Quantity</label>                                                                                                                                                                                             
            <div class="col-sm-10">
              <input type="number" formControlName="quantity" class="form-control" > 
            </div>
          </div>
          <hr>
          <button class="btn btn-default btn-rounded mb-4" (click)="addMandatory()">Add Mandatory</button>
          <div class="form-group raw" formArrayName="mandatorySelection" >
            <div
              class="mandatory"
              *ngFor="
                let mandatory of mandatories.controls;
                let mandatoryIndex = index;
                let first = first;"
              [formGroupName]="mandatoryIndex"
            >
            <div class="text-center">
              <h3><b>Mandatory Item {{mandatoryIndex + 1 }}</b></h3>
            </div>
            <!--  
              <div class="container mandatory" [formGroup]='mandatory'>
            -->
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-8">
                        <input type="text" formControlName="name" class="form-control"> 
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">Price</label>
                    <div class="col-sm-8">
                    <input type="number" formControlName="price" class="form-control"> 
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">Selected</label>
                    <div class="col-sm-8">
                        <input type="text" formControlName="selected" class="form-control"> 
                    </div>
                </div>
            <!--   

              </div>
            <div class="container mandatory" formControlName='mandatory'>
            -->
              <button class="btn btn-default btn-rounded mb-4" (click)="addValue(mandatory)">Add Value</button>
              <div class="form-group raw value" formArrayName="values" *ngIf="mandatory.get('values').controls?.length > 0">
                <div
                  class="values"
                  *ngFor="
                    let value of mandatory.get('values').controls;
                    let valueIndex = index;
                    let first = first;"
                  [formGroupName]="valueIndex"
                >
                <div class="form-group row">
                      <label for="colFormLabel" class="col-sm-2 col-form-label">Value {{valueIndex + 1}}</label>
                      <div class="col-sm-8">
                        <input type="text" [formControl]="mandatory.get('values').controls[valueIndex]" class="form-control"> 
                      </div>
                      <div class="col-sm-2">
                        <button class="btn btn-default btn-rounded mb-4"  (click)="deleteValue(mandatory, valueIndex)">Delete</button>                
                      </div>
                </div>
              </div>
              </div>
            <!--</div>-->
            <div class="col-sm-2 ">
                <button class="btn btn-default btn-rounded mb-4"  (click)="deleteMandatory(mandatoryIndex)">Delete</button>                
            </div>
          </div>
          </div>
          <hr>
          <!--  



            <hr>
          <button class="btn btn-default btn-rounded mb-4" (click)="addOptional()">Add Optional</button>
          <div class="form-group raw" formArrayName="optionalSelection" 
              *ngIf="options.controls?.length > 0">
            <div
              class="optional"
              *ngFor="
                let optional of options.controls;
                let optionalIndex = index;
                let first = first;"
              [formGroupName]="optionalIndex"
            >
            <div class="text-center">
              <h3><b>Optional Item {{optionalIndex + 1 }}</b></h3>
            </div>
            <div class="container optional" formControlName='optional'>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-8">
                        <input type="text" formControlName="name" class="form-control"> 
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">Price</label>
                    <div class="col-sm-8">
                    <input type="number" formControlName="price" class="form-control"> 
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">Selected</label>
                    <div class="col-sm-8">
                        <input type="text" formControlName="selected" class="form-control"> 
                    </div>
                </div>
            </div>
            <div class="container optional" formControlName='optional'>
              <button class="btn btn-default btn-rounded mb-4" (click)="addValue(optional)">Add Value</button>
              <div class="form-group raw value" formArrayName="values" *ngIf="optional.get('values').controls?.length > 0">
                <div
                  class="values"
                  *ngFor="
                    let value of optional.get('values').controls;
                    let valueIndex = index;
                    let first = first;"
                  [formGroupName]="valueIndex"
                >
                <div class="form-group row">
                      <label for="colFormLabel" class="col-sm-2 col-form-label">Value {{valueIndex + 1}}</label>
                      <div class="col-sm-8">
                        <input type="text" [formControl]="optional.get('values').controls[valueIndex]" class="form-control"> 
                      </div>
                      <div class="col-sm-2">
                        <button class="btn btn-default btn-rounded mb-4"  (click)="deleteValue(optional, valueIndex)">Delete</button>                
                      </div>
                </div>
              </div>
              </div>
            </div>
            <div class="col-sm-2 ">
                <button class="btn btn-default btn-rounded mb-4"  (click)="deleteOptional(optionalIndex)">Delete</button>                
            </div>
          </div>
          </div>
          <hr>
          -->

          <input 
    style="display: none" 
    type="file" 
    multiple 
    (change)="onFileChanged($event)" 
    #fileInput
/>
<input 
    type="button" 
    class="upload-button" 
    value="Upload attachment(s)" 
    (click)="fileInput.click()" 
/>

    </div>
    <div class="text-center">
          <button class="btn btn-default btn-rounded mb-4" (click)="add();">Add</button>
          <button class="btn btn-default btn-rounded mb-4" (click)="done();">Done</button>
          <button class="btn btn-default btn-rounded mb-4" (click)="skip();">Skip</button>
    </div>
    
  </form>
  