@media(min-width: 820px){
  .card-deck {
    display: flex;
    justify-content: space-around;
  } 
}
@media(max-width: 820px){ 
.card-deck {
  display: flex;
  align-items: center;
  flex-direction: column;
  }
}