
<div class="pt-5 px-3 shadow-lg p-3 mb-5 bg-white rounded">
  <div class="card-body p-3">
    <div *ngIf=" getToggle; else elseBlock;">
      <app-store-detail></app-store-detail>
    </div>
    <ng-template #elseBlock>
      <div class="text-center">
        <h3><b>Your stores</b></h3>
      </div>
      <div class="text-left">
        <a routerLink=''><pre>Create new store</pre></a>
      </div>
      <div class="card-deck" >
        <app-store *ngFor="let store of getStoreList; index as i" [store]="store"></app-store>
      </div>
    </ng-template>
  </div>
</div>


<!--Interesting UI below-->
<!-- <div class="pt-5 px-3 shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center">
      <h3><b>Your stores</b></h3>
  </div>
<div class="text-left">
      <a routerLink=''><pre>Create new store</pre></a>
    </div>
      <div class="card-deck" >
          <app-store *ngFor="let store of storeList; index as i" [store]="store"></app-store>
      </div>
</div> -->

