@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';
@import "~font-awesome/css/font-awesome.css"; 

@font-face {
  font-family: Calibri;
  src: url("/assets/fonts/Calibri.ttf") format("opentype");
}

@font-face {
  font-family: Catamaran;
  src: url("/assets/fonts/Catamaran-Medium.ttf") format("opentype");
}

.table td, .table th {
  padding: 8px;
}

.header {
  color: white;
}

form {
  background-color: white;
  border-radius: 3;
  padding: 10;
  box-shadow: transparent;
}

.info {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
}

/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  align-self: flex-end;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}


body {
  min-height: 100vh !important;
  background: var(--bkg-color);
  color: var(--text-color);
  margin: 0;
  font-family: Catamaran;
  --nav-bg-color: var(--bkg-card-color);
}

body {
  --text-color: #212121;
  --bkg-color: #F8F7F7;
  --footer-bkg-color: #be833d;
  --footer-text-color: white;
  --bkg-card-color: #f3f2f2;
  --btn-txt-color: #707070;
  --btn-bg-color: #be833d;
  --btn-bg-selected-color: #be833d;
  --btn-pill-color: #1083A5;
  --btn-red-color: #D66247;
  --bkg-logo: url('/assets/images/izinga-logo.png')
}

body.dark-theme {
  --text-color: #F8F7F7;
  --bkg-color: #212121;
  --bkg-card-color: #2D2D2D;
  --footer-bkg-color: #000000;
  --footer-text-color: #eee;
  --btn-txt-color: #2e2b2b;
  --btn-bg-color: #be833d;
  --btn-pill-color: #1083A5;
  --bkg-logo: url('/assets/images/izinga-logo.png')
}

 a:hover {
  cursor: pointer;
  cursor: hand;
} 

button {
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

.btn {
  background-color: var(--btn-bg-color);
  font-weight: 300;
  border: none;
  height: 50px;
}

.bg-dark {
  background-color: var(--btn-bg-color) !important;
  color: white !important;
}

.bg-selected {
  background-color: var(--btn-bg-selected-color) !important;
  color: white !important;
}

.bg-not-selected {
  background-color: white !important;
  color: var(--btn-bg-selected-color) !important;
}

.card {
  border: none !important;
  background: var(--bkg-card-color);
  outline: none;
}

.form-control, .form-control:disabled {
  background-color: var(--bkg-card-color);
  color: var(--text-color);
}

.menu-items .card{
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.menu-items .card:hover {
  transform: translateY(-2px);
}

.danger, .required {
  color: #d66247;
}



/* Navigation link styles */
.nav {
  background-color: #eee !important;
  border-radius: 8px;
}

a , a:visited, a:link {
  color: #10a59f;
}

a:hover {
  color: #10a59f;
  background-color: #CFD8DC;
}

a.active {
  color: #10a59f;
}

.navbar {
  background-color: #df932d;
}

.navbar-brand img{
  width: 120px;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}



/*
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
  