<div class="data">
  <ul class="nav mb-3">
    <li class="nav-item"><a class="nav-link active" data-toggle="modal" data-target="#image"><i class="fa fa-plus"></i> Image </a></li>
    <li class="nav-item"><a class="nav-link active"  (click)="addPromotion($event)" data-toggle="tooltip" data-placement="top" title="Add promotion"><i class="fa fa-plus"></i> Promotion </a></li>
</ul>
  <app-stock-info [stock]="stock"></app-stock-info>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false" *ngIf="stock.images.length > 0">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Stock images
            </a>
          </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">            
              <app-stock-images [stock]="stock"></app-stock-images>
          </div>
        </div>
      </div>
    </div>
          
    <div class="text-center">
      <div *ngIf="!!this.activeRoute.snapshot.params['id']; else elseBlock;">
        <button class="btn btn-primary btn-rounded mb-4" (click)="hideDetail()" style="width: 30%;"> Hide detail</button> &nbsp;
            <button class="btn btn-primary btn-rounded mb-4" (click)="edit($event)" style="width: 30%;">Edit</button> &nbsp;
        <a type="button" class="btn btn-primary btn-rounded mb-4" style="width: 30%;" data-toggle="modal" data-target="#stock" >Delete </a>
      </div>
      <ng-template #elseBlock>
        <button class="btn btn-primary btn-lg btn-rounded mb-4" (click)="hideDetail()"> Hide detail</button>
      </ng-template>
      </div>
    </div>

<!-- Modal 1 -->
<div class="modal fade rounded" id="stock" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 75vh; height: 50vh;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">You are about to delete <i style="color: red;">{{stock.name}}</i> store.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
        
          <div class="modal-body">
            
              <label for="name" class="col-form-label">Click delete button to confirm deletion</label>
    
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-rounded mb-4" style="width: 40%;" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary btn-rounded mb-4" style="width: 40%;" (click)="deleteStock()" >Delete</button>
          </div>          
    </div>
  </div>
</div>
</div>
<!-- Modal 2 -->
<div class="modal fade rounded" id="image" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 75vh; height: 50vh;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="text-center">
          <h4 class="modal-title" id="exampleModalLabel"><b>Add image form</b></h4>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
        
          <div class="modal-body">
            
            <div class="col-12 mb-3">
              <div class="text-center">
                <input type="file" (change)="onChange($event)">
              </div>
          </div>
          <br>
          

          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-rounded mb-4" style="width: 40%;" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary btn-rounded mb-4" style="width: 40%;" (click)="submit()" >Submit</button>
          </div>          
    </div>
  </div>
</div>
</div>

