@media(min-width: 768px){
    .item{
        display: flex;
        flex-direction: row;
    }
    
    .sliders {
        display: flex;
        flex-direction: column;
        align-self: center;
        position: relative;
    }
    
    .data {
        display: flex;
        flex-direction: column;
    }   
}

.btn {
  align-self: center;
}