/* sliders {
    position: relative;
    width: 100vw;
    height: 66vw;
  }
  
  .slider {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
  }
  
  .img {
    width: 100%;
    height: 100%;
  } */
  @media(min-width: 768px){
    .item{
        display: flex;
        flex-direction: row;
    }
    
    .sliders {
        display: flex;
        flex-direction: column;
        align-self: center;
        position: relative;
    }
    
    .data {
        display: flex;
        flex-direction: column;
    }   
}